<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        * {margin:0 ; padding: 0;}
        body {background-color: #ffebee; }
        #wrap {width: 900px; margin: 0 auto; font-size: 30px; color:#fff; text-align: center;}
        #header {width: 900px; height: 150px; line-height: 150px; background-color: #b2dfdb;}
        #contents {width: 900px; height: 700px; line-height: 700px;background-color: #80cbc4;}
        #footer {width: 900px; height: 150px; line-height: 150px;background-color: #4db6ac;}
    </style>
</head>
<body>
   <div id="wrap">
       <div id="header">header</div>
       <div id="contents">contents</div>
       <div id="footer">footer</div>
   </div>
</body>
</html>